form {
  height: 100%;
}

.login-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-logo {
  display: flex;
}

  .login-logo img {
    width: 100%;
    min-width: 0;
    max-width: 247px;
    border-radius: 20px;
    aspect-ratio: 1;
    z-index: 1;
  }

    .login-logo img:first-child {
      transform: translate(25%, -25%);
    }

    .login-logo img:last-child {
      transform: translate(-25%, 25%);
    }

.login-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

  .login-form * {
      flex-grow: 1;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .form-control input {
    border-radius: 5px;
    outline: none;
    border: 1px solid #9B9B9B;
    padding: 20px;
  }

    .form-control input::placeholder {
       text-align: center;
    }

    .form-control input.ng-invalid.ng-touched {
      border-color: red;
    }

    .form-control .error {
      text-align: center;
      color: red;
    }

.login-form button {
  padding: 18px;
  font-size: 14pt;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 10px #00000030;
}

.confirm-btn:not(:disabled) {
   background-color: #67ad5b
}
