@if (isLoading) {
<app-loading [loadingText]="loadingText"></app-loading>
}
@else{

<form [formGroup]="loginForm">

  <div class="login-container">

    <div class="login-logo">
      <img src="youtube.png" />
      <img src="spotify.png" />
      <img src="facebook.png" />
    </div>

    <div class="login-form">
      <div class="form-control">
        <input type="text" formControlName="userName" placeholder="Username" />

        @if (showError('userName')) {
        <span class="error">{{ getErrorMessage('userName') }}</span>
        }
      </div>

      <button type="button" (click)="submitUsername()" [disabled]="loginForm.get('userName')?.invalid">
        Login
      </button>

    </div>

    <!-- Popup -->
    <div class="popup-modal"
         [class.shown]="this.step == 'otp'">
      <h3>Enter OTP</h3>

      <input type="number" formControlName="otp" placeholder="OTP" />

      <button type="button" (click)="submitOtp()" [disabled]="loginForm.get('otp')?.invalid">
        Enter
      </button>
    </div>

  </div>

</form>

}
