@if (isLoading) {
<app-loading [loadingText]="loadingText"></app-loading>
}
@else{

<form [formGroup]="loginForm">

  <div class="login-container">

    <div class="login-logo">
      <img src="youtube.png" />
      <img src="spotify.png" />
      <img src="facebook.png" />
    </div>

    <div class="login-form">
      <div class="form-control">
        <input type="text" formControlName="userName" placeholder="Username" />

        <div class="error">
          @if (showError('userName')) {
          {{ getErrorMessage('userName') }}
          }
        </div>

      </div>

      <button class="confirm-btn btn" type="button" (click)="submitUsername()" [disabled]="loginForm.get('userName')?.invalid">
        Enter
      </button>

    </div>

    <!-- OTP Popup -->
    <div class="popup-modal"
         [class.shown]="this.step == 'otp'">

      <div class="content">

        <div class="modal-form">
          <div class="title">Verify It's You</div>
          <span>Please enter your 6 digit PIN</span>

          <app-otp-input [control]="loginForm.controls.otp" />

        </div>

        <div class="button-group">

          <button class="green" type="button" (click)="submitOtp()" [disabled]="loginForm.get('otp')?.invalid">
            Enter
          </button>

          <button class="red" type="button" (click)="closeOtp()">
            Close
          </button>

        </div>
      </div>

    </div>

    <!-- Error Popup -->
    <div class="popup-modal"
         [class.shown]="this.loginFailed">

      <div class="content">

        <div class="modal-form">
          <div class="title">Error</div>
          <span>Login Failed. Please try again.</span>
        </div>

        <div class="button-group">

          <button class="red" type="button" (click)="closeError()">
            Close
          </button>

        </div>
      </div>

    </div>
  </div>

</form>

  }
