form {
  height: 100%;
}

.login-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-logo {
  display: flex;
  height: 247px;
  align-items: center;
}

  .login-logo img {
    width: 100%;
    min-width: 0;
    max-width: 247px;
    border-radius: 20px;
    aspect-ratio: 1;
    z-index: 1;
  }

    .login-logo img:first-child {
      transform: translate(25%, -25%);
    }

    .login-logo img:last-child {
      transform: translate(-25%, 25%);
    }

.login-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 50%;
}

  .login-form * {
      flex-grow: 1;
  }

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

    .form-control input {
      font-size: 14pt;
      border-radius: 5px;
      outline: none;
      border: 2px solid #9B9B9B;
      padding: 20px;
    }

    .form-control input::placeholder {
       text-align: center;
    }

      .form-control input:focus-within {
        border-color: #0388EB;
      }

    .form-control input.ng-invalid.ng-touched {
      border-color: red;
    }

    .form-control .error {
      text-align: center;
      color: red;
      height: 20px;
    }

.login-form button {
  padding: 18px;
  font-size: 14pt;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

.confirm-btn {
  background-color: #67ad5b;
  color: white;
  box-shadow: 0px 5px 10px #00000030;
}

  .confirm-btn:disabled {
    background-color: #A8A8A8;
    color: black;
    box-shadow: none;
  }
