@if (isLoading) {
<app-loading [loadingText]="loadingText"></app-loading>
}
@else {
<div class="dashboard-container">

  <header class="dashboard-header">
    <h2>Dashboard</h2>

    <div class="user-info">
      <p><strong>User:</strong> {{ userName }}</p>
      <p><strong>ID:</strong> {{ userId }}</p>
    </div>
    <img [src]="profilePicture" alt="Profile" width="40" height="40" />
  </header>

  <main class="dashboard-content">

    <h3>Socials</h3>

    <ul>
      @for (social of socials; track social.name) {
      <li>
        <div class="social-card">

          <h4>{{ social.name }}</h4>

          <p>{{ social.history }}</p>

          <!-- Icon -->
          <img [src]="social.iconUrl" [alt]="social.name + ' icon'" width="30" height="30" />

          <!-- Main image -->
          <img [src]="social.imgUrl" [alt]="social.name" width="120" />

          <!-- Link -->
          <p>
            <a [href]="social.webUrl" target="_blank">
              Visit {{ social.name }}
            </a>
          </p>

        </div>
      </li>
      }
    </ul>

  </main>

</div>
}
