body::before {
  content: '';
  opacity: 0;
}

body.special-theme::before {
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0b0e16, #0c1325);
  opacity: 1;
  position: absolute;
  z-index: -1;
}

body.special-theme {
  color: white
}

.special-theme {
}

  .special-theme .dashboard-container .icon-grid .YouTube,
  .special-theme .yt {
    background-color: white;
  }

  .special-theme .social-card.YouTube .btn:hover,
  .special-theme .dashboard-container .icon-grid .YouTube {
    box-shadow: 0 -2px 10px #ea412c;
    transition: all 0.25s ease;
  }

    .special-theme .dashboard-container .icon-grid .YouTube:hover,
    .special-theme .yt {
      box-shadow: 0 -2px 25px #ea412c;
    }

  .special-theme .social-card.Facebook .btn:hover,
  .special-theme .dashboard-container .icon-grid .Facebook {
    box-shadow: 0 -2px 10px #17a7fd;
    transition: all 0.25s ease;
  }

    .special-theme .dashboard-container .icon-grid .Facebook:hover,
    .special-theme .fb {
      box-shadow: 0 -2px 25px #17a7fd;
    }

  .special-theme .social-card.Spotify .btn:hover,
  .special-theme .dashboard-container .icon-grid .Spotify {
    box-shadow: 0 -2px 10px #08bc4b;
    transition: all 0.25s ease;
  }

    .special-theme .dashboard-container .icon-grid .Spotify:hover,
    .special-theme .sp {
      box-shadow: 0 -2px 25px #08bc4b;
    }

  .special-theme .others-container .btn:hover,
  .special-theme .dashboard-container .icon-grid .others {
    box-shadow: 0 -2px 10px #FFA000;
    transition: all 0.25s ease;
  }

    .special-theme .dashboard-container .icon-grid .others:hover,
    .special-theme .ot {
      box-shadow: 0 -2px 25px #FFA000;
    }

  .special-theme .popup-modal .content,
  .special-theme .others-container .slide {
    background-color: #191d30b0;
    backdrop-filter: blur(25px);
  }

    .special-theme .popup-modal .content .button-group,
    .special-theme .popup-modal .content .button-group button {
      border-color: #ffffff17 !important;
    }


      .special-theme .popup-modal .content .button-group button:hover:not(:disabled) {
        background-color: #ffffff17;
      }

  .special-theme .loading-wrapper .loader {
    margin-bottom: 20px;
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: linear-gradient( 0deg, rgb(255 255 255 / 50%) 30%, #0000 0 70%, rgb(255 255 255 / 100%) 0 ) 50% / 8% 100%, linear-gradient( 90deg, rgb(255 255 255 / 25%) 30%, #0000 0 70%, rgb(255 255 255 / 75%) 0 ) 50% / 100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
    opacity: .4;
  }


    .special-theme .loading-wrapper .loader::before,
    .special-theme .loading-wrapper .loader::after {
      content: "";
      grid-area: 1/1;
      border-radius: 50%;
      background: inherit;
      opacity: 0.915;
      transform: rotate(30deg);
    }

    .special-theme .loading-wrapper .loader::after {
      opacity: 0.83;
      transform: rotate(60deg);
    }

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}

.special-theme .others-container {
  background: none !important;
}

.special-theme .confirm-btn:hover:not(:disabled) {
  background-color: #7ABD70 !important;
  box-shadow: 0 -2px 25px #138200;
}

.special-theme .social-card.YouTube .btn:hover {
  background-color: #F6685E !important;
}

.special-theme .social-card.Spotify .btn:hover {
  background-color: #66BB6A !important;
}

.special-theme .social-card.Facebook .btn:hover {
  background-color: #42A5F5 !important;
}

  .special-theme .icon-grid .others,
  .special-theme .Others .page-header,
  .special-theme .Others .page-content button {
    background-color: #FFA000 !important
  }

.special-theme .others-container .btn:hover {
  background-color: #FFC107 !important;
}

.special-theme .popup-modal.bottom .content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.special-theme .popup-modal.bottom .content .button-group button {
  background-color: transparent;
  border: 1px inset #ffffff17 !important;
}

.special-theme .confirm-btn:disabled {
  color: white !important;
}
