:host {
  position: absolute;
  right: 0;
  padding: 20px;
  z-index: 1;
}

div {
  opacity: 0;
  cursor: pointer;
  color: #ca0000;
}

div:hover {
    opacity: 1
}

svg {
    height: 24px;
    width: 24px;
}
